:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.product-item h3 {
  margin: 0;
  font-size: 1.2em;
}

